@model List<OnlineFoodOrdering.Models.ViewModels.OrderDetailsViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@using OnlineFoodOrdering.Utility
@{
    ViewData["Title"] = "ManageOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">@localizer["Home"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Manage Order"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">@localizer["Manage Order"]</h3>
                </div>
                <form method="post">
                    <br />
                    
                    @if (Model.Count > 0)
                    {

                        @foreach (var item in Model)
                        {
                            
                                
                                    <div class="row">
                                        <div class="col-lg-4 col-12" style="margin-left:20px;">
                                            <b>@localizer["Order Number"]&nbsp;&nbsp; @item.Order.Id </b>


                                            <ul style="list-style-type:none">

                                                @foreach (var details in item.OrderDetails)
                                                {
                                                    <li style="display:list-item; padding-left:15px;">@details.Name x @details.Count</li>
                                                }
                                            </ul>

                                        </div>
                                        <div class="col-lg-4 col-12 pb-2">
                                            <div class="single-input-item pb-2">
                                                <input type="text" disabled value="@localizer["Time"]   @item.Order.PickUpTime" class="form-control rounded-0" />
                                            </div>
                                            @{
                                                var comments = item.Order.Comments;
                                                if (comments == null || comments.Trim().Length == 0)
                                                {
                                                    item.Order.Comments = "No Instructions";
                                                }

                                            }
                                            <textarea asp-for="@item.Order.Comments" readonly cols="30" rows="4" class="border rounded-0 w-100 custom-textarea input-area" style="padding:10px;" placeholder="@localizer["Message"]"></textarea>

                                        </div>
                                        <div class="col-lg-3" style="margin-left:30px;">
                                            @if (item.Order.Status.Equals(SD.StatusSubmitted))
                                            {
                                                <div class="col-12">

                                                    <button type="submit" asp-action="OrderPrepare" asp-route-OrderId="@item.Order.Id" class="btn btn-primary btn-block btn-flat">
                                                        <i class="fa fa-check"></i> &nbsp; @localizer["Start Cooking"]
                                                    </button>
                                                    <br/>
                                                    
                                                    <button type="submit" asp-action="OrderCancel" asp-route-OrderId="@item.Order.Id" class="btn btn-danger btn-block btn-flat">
                                                        <i class="fa fa-times"></i> &nbsp; @localizer["Cancel Order"]
                                                    </button>
                                                </div>
                                            }
                                            else
                                            {
                                                @if (item.Order.Status.Equals(SD.StatusInProcess))
                                                {
                                                    <div class="col-12">
                                                        <button type="submit" asp-action="OrderReady" asp-route-OrderId="@item.Order.Id" class="btn btn-success btn-block btn-flat">
                                                            <i class="fa fa-flag-checkered"></i> &nbsp; @localizer["Order Ready"]
                                                        </button>
                                                        <br/>
                                                        <button type="submit" asp-action="OrderCancel" asp-route-OrderId="@item.Order.Id" class="btn btn-danger btn-block btn-flat">
                                                            <i class="fa fa-times"></i> &nbsp; @localizer["Cancel Order"]
                                                        </button>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                
                            
                            <hr />
                        }

                    }
                </form>

            </div>
        </div>
    </div>
</section>
