@model OnlineFoodOrdering.Models.ViewModels.IndexViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="home-wrapper home-1">
    <div class="slider-area">
        <div class="obrien-slider arrow-style" data-slick-options='{
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "infinite": true,
        "arrows": true,
        "dots": true,
        "autoplay" : true,
        "fade" : true,
        "autoplaySpeed" : 7000,
        "pauseOnHover" : false,
        "pauseOnFocus" : false
        }' data-slick-responsive='[
        {"breakpoint":992, "settings": {
        "slidesToShow": 1,
        "arrows": false,
        "dots": true
        }}
        ]'>
            <div class="slide-item slide-1 bg-position slide-bg-1 animation-style-01">
                <div class="slider-content">
                    <h4 class="slider-small-title">@localizer["delight"]</h4>
                    <h2 class="slider-large-title">@localizer["bite"]</h2>
                    <div class="slider-btn">
                        <a class="obrien-button black-btn" asp-area="Customer" asp-controller="Shop" asp-action="Index">@localizer["Shop Now"]</a>
                    </div>
                </div>
            </div>
            <div class="slide-item slide-2 bg-position slide-bg-1 animation-style-01">
                <div class="slider-content">
                    <h4 class="slider-small-title">@localizer["healthy"]</h4>
                    <h2 class="slider-large-title">@localizer["food"]</h2>
                    <div class="slider-btn">
                        <a class="obrien-button black-btn" asp-area="Customer" asp-controller="Shop" asp-action="Index">@localizer["Shop Now"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="call-to-action-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-custom">
                    <div class="call-to-action-item mt-0 d-lg-flex d-md-block align-items-center">
                        <div class="call-to-action-icon">
                            <img src="~/images/icons/icon-1.png" alt="Icon">
                        </div>
                        <div class="call-to-action-info">
                            <h3 class="action-title">@localizer["free"]</h3>
                            <p class="desc-content">@localizer["provide"]</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-custom">
                    <div class="call-to-action-item d-lg-flex d-md-block align-items-center">
                        <div class="call-to-action-icon">
                            <img src="~/images/icons/icon-2.png" alt="Icon">
                        </div>
                        <div class="call-to-action-info">
                            <h3 class="action-title">@localizer["quality"]</h3>
                            <p class="desc-content">@localizer["ensure"]</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-custom">
                    <div class="call-to-action-item d-lg-flex d-md-block align-items-center">
                        <div class="call-to-action-icon">
                            <img src="~/images/icons/icon-3.png" alt="Icon">
                        </div>
                        <div class="call-to-action-info">
                            <h3 class="action-title">@localizer["Online Support"]</h3>
                            <p class="desc-content">@localizer["satisfy"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-area">
        <div class="container container-default custom-wrapper">
            <div class="row">
                <div class="col-xl-6 col-lg-5 col-md-12 col-custom">
                    <div class="feature-content-wrapper">
                        <h2 class="title">@localizer["fishTitle"]</h2>
                        <p class="desc-content">@localizer["fishContent1"]</p>
                        <p class="desc-content">@localizer["fishContent2"]</p>
                        <p class="desc-content">@localizer["fishContent3"]</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-12 col-custom">
                    <div class="feature-image">
                        <img src="~/images/HomePhoto.jpg" alt="Obrien Feature">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-lg-5 m-auto text-center col-custom">
                    <div class="section-content">
                        <h2 class="title-1 text-uppercase">@localizer["Latest Products"]</h2>
                        <div class="desc-content">
                            <p>@localizer["latest"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 product-wrapper col-custom">
                    <div class="product-slider" data-slick-options='{
                        "slidesToShow": 4,
                        "slidesToScroll": 1,
                        "infinite": true,
                        "arrows": false,
                        "dots": false
                        }' data-slick-responsive='[
                        {"breakpoint": 1200, "settings": {
                        "slidesToShow": 3
                        }},
                        {"breakpoint": 992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint": 576, "settings": {
                        "slidesToShow": 1
                        }}
                        ]'>

                        @for (int i = 0; i < Model.MenuItem.Count(); i++)
                        {
                            <div class="single-item">
                                <div class="single-product position-relative">
                                    <div class="product-image">
                                        <a class="d-block" asp-action="Details" asp-route-id="@Model.MenuItem.ToList()[i].Id">
                                            <img src="@Model.MenuItem.ToList()[i].Image" alt="" class="product-image-1 w-100">
                                            <img src="@Model.MenuItem.ToList()[i].Image" alt="" class="product-image-2 position-absolute w-100">
                                        </a>
                                    </div>
                                    <div class="product-content">

                                        <div class="product-rating">
                                            @*<i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>*@
                                        </div>
                                        <div class="product-title">
                                            <h4 class="title-2"> <a asp-action="Details" asp-route-id="@Model.MenuItem.ToList()[i].Id">@Model.MenuItem.ToList()[i].Name</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price ">$@Model.MenuItem.ToList()[i].Price</span>

                                        </div>
                                    </div>

                                    <div class="add-action d-flex position-absolute">

                                        @using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
                                        {
                                            <input asp-for="ShoppingCart.Count" value="1" type="text" hidden />
                                            <button type="submit" value="Add To cart"><i class="ion-bag"></i></button>
                                            <input asp-for="ShoppingCart.MenuItemId" value="@Model.MenuItem.ToList()[i].Id" hidden />
                                        }
                                        @using (Html.BeginForm("Compare", "Home", FormMethod.Post))
                                        {

                                            <button type="submit" id="btnCompare" value="Compare">
                                                <i class="ion-ios-loop-strong"></i>
                                            </button>
                                            <input asp-for="Compare.MenuItemId" value="@Model.MenuItem.ToList()[i].Id" hidden />
                                        }

                                        @using (Html.BeginForm("WishList", "Home", FormMethod.Post))
                                        {
                                            <input asp-for="WishList.MenuItemId" value="@Model.MenuItem.ToList()[i].Id" hidden />
                                            <button type="submit" value="Add to Wishlist">
                                                <i class="ion-ios-heart-outline"></i>
                                            </button>
                                        }


                                        <button type="button" class="anchorDetail" data-toggle="modal" data-id="@Model.MenuItem.ToList()[i].Id" title="Quick View">
                                            <i class="ion-eye"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature-area mb-no-text">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-12 col-custom">
                    <div class="feature-image position-relative">
                        <img src="~/images/feature/video.jpg" alt="Obrien Feature">
                        <div class="popup-video position-absolute">
                            <a class="popup-vimeo" href="https://www.youtube.com/watch?v=tJlzIJaokVY">
                                <i class="ion-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-12 col-custom">
                    <div class="feature-content-wrapper">
                        <h2 class="title">@localizer["vegetableTitle"]</h2>
                        <p class="desc-content">@localizer["vegetableContent1"]</p>
                        <p class="desc-content">@localizer["vegetableContent2"]</p>
                        <p class="desc-content">@localizer["vegetableContent3"]</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="product-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-lg-5 m-auto text-center col-custom">
                    <div class="section-content">
                        <h2 class="title-1 text-uppercase">@localizer["Featured Products"]</h2>
                        <div class="desc-content">
                            <p>@localizer["featured"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product-wrapper col-lg-12 col-custom">
                    <div class="product-slider" data-slick-options='{
                    "slidesToShow": 4,
                    "slidesToScroll": 1,
                    "infinite": true,
                    "arrows": true,
                    "dots": false
                    }' data-slick-responsive='[
                    {"breakpoint": 1200, "settings": {
                    "slidesToShow": 3
                    }},
                    {"breakpoint": 992, "settings": {
                    "slidesToShow": 2
                    }},
                    {"breakpoint": 576, "settings": {
                    "slidesToShow": 1
                    }}
                    ]'>
                        @for (int i = 0; i < Model.MenuItemFeatured.Count(); i++)
                        {

                            <div class="single-item">
                                <div class="single-product position-relative mb-30">
                                    <div class="product-image">
                                        <a class="d-block" asp-action="Details" asp-route-id="@Model.MenuItemFeatured.ToList()[i].Id">
                                            <img src="@Model.MenuItemFeatured.ToList()[i].Image" alt="" class="product-image-1">
                                            <img src="@Model.MenuItemFeatured.ToList()[i].Image" alt="" class="product-image-2 position-absolute top-0 left-0">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <br />
                                        <div class="product-title">
                                            <h4 class="title-2"> <a asp-action="Details" asp-route-id="@Model.MenuItemFeatured.ToList()[i].Id">@Model.MenuItemFeatured.ToList()[i].Name</a></h4>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price ">$@Model.MenuItemFeatured.ToList()[i].Price</span>
                                        </div>
                                    </div>
                                    <div class="add-action d-flex position-absolute">
                                        @using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
                                        {
                                            <input asp-for="ShoppingCart.Count" value="1" type="text" hidden />
                                            <button type="submit" value="Add To cart"><i class="ion-bag"></i></button>
                                            <input asp-for="ShoppingCart.MenuItemId" value="@Model.MenuItemFeatured.ToList()[i].Id" hidden />
                                        }
                                        @using (Html.BeginForm("Compare", "Home", FormMethod.Post))
                                        {

                                            <button type="submit" id="btnCompare" value="Compare">
                                                <i class="ion-ios-loop-strong"></i>
                                            </button>
                                            <input asp-for="Compare.MenuItemId" value="@Model.MenuItemFeatured.ToList()[i].Id" hidden />
                                        }

                                        @using (Html.BeginForm("WishList", "Home", FormMethod.Post))
                                        {
                                            <input asp-for="WishList.MenuItemId" value="@Model.MenuItemFeatured.ToList()[i].Id" hidden />
                                            <button type="submit" value="Add to Wishlist">
                                                <i class="ion-ios-heart-outline"></i>
                                            </button>
                                        }


                                        <button type="button" class="anchorDetail" data-toggle="modal" data-id="@Model.MenuItemFeatured.ToList()[i].Id" title="Quick View">
                                            <i class="ion-eye"></i>
                                        </button>


                                    </div>
                                </div>


                            </div>

                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade obrien-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
                <span class="close-icon" aria-hidden="true">x</span>
            </button>
            <div class="modal-body" id="myModalContent">

            </div>
        </div>
    </div>
</div>


@section Scripts
{

    <script>
        var PostBackURL = '/Customer/Home/GetProductDetails';

        $(function () {
            $(".anchorDetail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: PostBackURL,
                    contentType: "text/html; charset=utf-8",
                    data: { "Id": id },
                    cache: false,
                    dataType: "html",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed");
                    }
                })
            });
        });
    </script>


}