
@page
@model LoginModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Log in";
}

@*Breadcrumb Area Start Here*@
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">@localizer["Login-Register"]</h3>
                    <ul>
                        <li><a href="index.html">@localizer["Home"]</a></li>
                        <li>@localizer["Login-Register"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@*Breadcrumb Area End Here
    Login Area Start Here*@
<div class="login-register-area mt-no-text mb-no-text">
    <div class="container container-default-2 custom-area">
        <div class="row">

            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <h2 class="title-4 mb-2">@localizer["Login"]</h2>
                        <p class="desc-content">@localizer["Please login using account detail bellow"]</p>
                    </div>
                    <form id="account" method="post">
                        <div class="single-input-item mb-3">
                            <input asp-for="Input.Email" placeholder="@localizer["Enter your Email"]">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="single-input-item mb-3">
                            <input asp-for="Input.Password" placeholder="@localizer["Enter your Password"]">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="single-input-item mb-3">
                            <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                <div class="remember-meta mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="rememberMe">
                                        <label class="custom-control-label" for="rememberMe">@Html.DisplayFor(m => m.Input.RememberMe) @localizer["Remember Me"]</label>
                                    </div>
                                </div>
                                <a href="#" class="forget-pwd mb-3">@localizer["Forget Password"]</a>
                            </div>
                        </div>
                        <div class="single-input-item mb-3">
                            <button type="submit" class="btn obrien-button-2 primary-color">@localizer["Login"]</button>

                        </div>
                    </form>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) != 0)
                        {
                            <div class="xheni">
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">


                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@localizer["Login with"] @provider.DisplayName</button>
                                    }


                                </form>
                            </div>

                        }
                        else
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
                            </div>

                        }
                    }
                    <div class="single-input-item">
                        <a asp-area="Identity" asp-page="/Account/Register">@localizer["Create Account"]</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
