@page
@model RegisterModel
@using OnlineFoodOrdering.Utility
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Register";

}

@if (User.IsInRole(SD.ManagerUser))
{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="User" asp-area="Admin">@localizer["Users Table"]</a></li>
                        <li class="breadcrumb-item active">@localizer["Register User"]</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">@localizer["Register New User"]</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">@localizer["Full Name"]</label>
                            <div class="col-sm-10">
                                <input asp-for="Input.Name" type="text" class="form-control" placeholder="@localizer["Enter your full Name"]">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">@localizer["Email"]</label>
                            <div class="col-sm-10">
                                <input type="email" asp-for="Input.Email" class="form-control" placeholder="@localizer["Enter your Email"]">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">@localizer["Password"]</label>
                            <div class="col-sm-10">
                                <input asp-for="Input.Password" type="password" class="form-control" placeholder="@localizer["Enter your Password"]">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">@localizer["Confirm Password"]</label>
                            <div class="col-sm-10">
                                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="@localizer["Confirm your Password"]">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">@localizer["Phone Number"]</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Input.PhoneNumber" placeholder="@localizer["Enter your Phone Number"]" class="form-control">
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">@localizer["Street Address"]</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Input.StreetAddress" placeholder="@localizer["Enter your Streeet Address"]" class="form-control">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">@localizer["City"]</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Input.City" placeholder="@localizer["Enter your City"]" class="form-control">
                                <span asp-validation-for="Input.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">@localizer["State"]</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Input.State" placeholder="@localizer["Enter your State"]" class="form-control">
                                <span asp-validation-for="Input.State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">@localizer["Postal Code"]</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="Input.PostalCode" placeholder="@localizer["Enter Postal Code"]" class="form-control">
                                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="offset-sm-2 col-sm-10">
                                <div class="icheck-success d-inline" style="margin-right:20px;">
                                    <input type="radio" name="r3" value="@SD.KitchenUser" checked id="radioSuccess1">
                                    <label for="radioSuccess1">@localizer["Kitchen User"]</label>
                                </div>
                                <div class="icheck-success d-inline" style="margin-right:20px;">
                                    <input type="radio" name="r3" value="@SD.FrontDeskUser" checked id="radioSuccess2">
                                    <label for="radioSuccess2">@localizer["Front Desk User"]</label>
                                </div>
                                <div class="icheck-success d-inline">
                                    <input type="radio" name="r3" value="@SD.ManagerUser" checked id="radioSuccess3">
                                    <label for="radioSuccess3">@localizer["Manager"]</label>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">@localizer["Regiter New User"]</button>

                    </div>
                </form>
            </div>
        </div>
    </section>

}
else
{
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">Login-Register</h3>
                        <ul>
                            <li><a asp-action="Index" asp-controller="Home">@localizer["Home"]</a></li>
                            <li>@localizer["Login-Register"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Login Area Start Here -->
    <div class="login-register-area mt-no-text mb-no-text">
        <div class="container container-default-2 custom-area">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                    <div class="login-register-wrapper">
                        <div class="section-content text-center mb-5">
                            <h2 class="title-4 mb-2">Create Account</h2>
                            <p class="desc-content">Please Register using account detail bellow.</p>
                        </div>
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="single-input-item mb-3">
                                <input type="text" asp-for="Input.Name" placeholder="@localizer["Enter your full Name"]">
                                <span asp-validation-for="Input.Name" class="text-danger"></span>
                            </div>
                            <div class="single-input-item mb-3">
                                <input type="text" asp-for="Input.Email" placeholder="@localizer["Enter your Email"]">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="single-input-item mb-3">
                                <input asp-for="Input.Password" type="password" placeholder="@localizer["Enter your Password"]">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="single-input-item mb-3">
                                <input asp-for="Input.ConfirmPassword" type="password" placeholder="@localizer["Confirm your Password"]">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="single-input-item mb-3">
                                <input type="text" asp-for="Input.PhoneNumber" placeholder="@localizer["Enter your Phone Number"]">
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="single-input-item mb-3">
                                <input type="text" asp-for="Input.StreetAddress" placeholder="@localizer["Enter your Streeet Address"]">
                                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                            </div>
                            <div class="single-input-item mb-3">
                                <input type="text" asp-for="Input.City" placeholder="@localizer["Enter your City"]">
                                <span asp-validation-for="Input.City" class="text-danger"></span>
                            </div>
                            <div class="single-input-item mb-3">
                                <input type="text" asp-for="Input.State" placeholder="@localizer["Enter your State"]">
                                <span asp-validation-for="Input.State" class="text-danger"></span>
                            </div>
                            <div class="single-input-item mb-3">
                                <input type="text" asp-for="Input.PostalCode" placeholder="@localizer["Enter Postal Code"]">
                                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                            </div>
                           
                            <div class="single-input-item mb-3">
                                <button class="btn obrien-button-2 primary-color" type="submit">@localizer["Register"]</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
