@model OnlineFoodOrdering.Models.Coupon
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="myaccount-content">
    <h3>@localizer["New Coupon"]</h3>
    <br />
    <div class="account-details-form">
        <form method="post">
            <div class="row">

                <br />
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Name"]</label>
                    <input asp-for="Name" />
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Coupon Type"]</label>
                    <select asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control"></select>
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Discount"]</label>
                    <input asp-for="Discount" />
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Minimum Amount"]</label>
                    <input asp-for="MinimumAmount" />
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="IsActive">
                    <label class="custom-control-label">@localizer["Is Active"]</label>
                </div>
            </div>
            <br />

            <div class="single-input-item single-item-button">
                <button type="submit" asp-route-coupon="@Model" class="btn obrien-button primary-btn" value="Save Changes">@localizer["Create New"]</button>
            </div>

        </form>
    </div>
</div>
