@model OnlineFoodOrdering.Models.Coupon
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="myaccount-content">
    <h3>@localizer["Are you"]</h3>
    <br />
    <div class="account-details-form">
        <form method="post">
            <div class="row">
                <input type="hidden" asp-for="Id" />
                <br />
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Name"]</label>
                    <input readonly asp-for="Name" />
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Coupon Type"]</label>
                    <select disabled asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control"></select>
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Discount"]</label>
                    <input readonly asp-for="Discount" />
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Minimum Amount"]</label>
                    <input readonly asp-for="MinimumAmount" />
                </div>

            </div>
            <br />

            <div class="single-input-item single-item-button">
                <button type="submit" asp-route-id="@Model" class="btn obrien-button primary-btn">@localizer["Delete"]</button>
            </div>

        </form>
    </div>
</div>
