@model OnlineFoodOrdering.Models.Coupon
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Coupon">@localizer["Coupon Table"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Coupon Details"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">@localizer["Coupon Details"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                    
                        <div class="card-body">
                            <div class="form-group">
                                <label>@localizer["Name"]</label>
                                <input asp-for="Name" disabled class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label >@localizer["Coupon Type"]</label>
                                <select disabled asp-for="CouponType" asp-items="Html.GetEnumSelectList<Coupon.ECouponType>()" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label>@localizer["Discount"]</label>
                                <input asp-for="Discount" disabled class="form-control">
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>@localizer["Minimum Amount"]</label>
                                <input asp-for="MinimumAmount" disabled class="form-control">
                                <span asp-validation-for="MinimumAmount" class="text-danger"></span>
                            </div>
                            <div class="icheck-success d-inline">
                                <input type="checkbox" disabled id="checkboxSuccess1" asp-for="IsActive">
                                <label for="checkboxSuccess1">
                                    @localizer["Is Active"]
                                </label>
                            </div>
                            <br />
                        </div>
                        <!-- /.card-body -->


                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
