@model OnlineFoodOrdering.Models.ViewModels.WishListViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">@localizer["Wishlist"]</h3>
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">@localizer["Home"]</a></li>
                        <li>@localizer["Wishlist"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wishlist-main-wrapper mt-no-text mb-no-text">
    <div class="container container-default-2 custom-area">
        <div class="row">
            <div class="col-lg-12">
                <div class="wishlist-table table-responsive">
                    @if (Model.WishLista.Count() > 0)
                    {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">@localizer["Image"]</th>
                                    <th class="pro-title">@localizer["Product"]</th>
                                    <th class="pro-price">@localizer["Price"]</th>

                                    <th class="pro-cart">@localizer["Add to Cart"]</th>
                                    <th class="pro-remove">@localizer["Remove"]</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.WishLista)
                            {
                                <tbody>
                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img class="img-fluid" src="@item.MenuItem.Image" alt="Product" /></a></td>
                                        <td class="pro-title"><a href="#">@item.MenuItem.Name</a></td>
                                        <td class="pro-price"><span>$@item.MenuItem.Price</span></td>

                                        <td class="pro-cart">
                                            @using (Html.BeginForm("AddToCart", "WishList", FormMethod.Post))
                                            {
                                                <input asp-for="WishList.MenuItemId" value="@item.MenuItem.Id" hidden />
                                                <button type="submit" value="Add to Cart" class="btn obrien-button primary-btn text-uppercase">@localizer["Add to Cart"]</button>
                                            }

                                        </td>
                                        <td class="pro-remove">
                                            @using (Html.BeginForm("Remove", "WishList", FormMethod.Post))
                                            {
                                                <button type="submit" asp-action="remove" asp-route-wishId="@item.Id"><i class="ion-trash-b"></i></button>
                                            }
                                        </td>
                                    </tr>

                                </tbody>

                            }
                        </table>

                    }
                    else
                    {
                        <p>ska</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

