@model OnlineFoodOrdering.Models.ViewModels.ShopViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">@localizer["Shop"]</h3>
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home" asp-area="Customer">@localizer["Home"]</a></li>
                        <li>@localizer["Shop"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-main-area">
    <div class="container container-default custom-area">
        <div class="row flex-row-reverse">
            <div class="col-lg-9 col-12 col-custom widget-mt">
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_3" type="button" class="active btn-grid-3" data-toggle="tooltip" title="3"><i class="fa fa-th"></i></button>
                        <button data-role="grid_list" type="button" class="btn-list" data-toggle="tooltip" title="List"><i class="fa fa-th-list"></i></button>
                    </div>
                    <div class="shop-select">
                        <form class="d-flex flex-column w-100">
                            <div class="form-group">
                                <a style="padding-right:17px;">@localizer["Sort by"] : </a>
                                <a style="padding-right:17px;" asp-action="Index" asp-route-sortOrder="@ViewBag.LatestItems">@localizer["Newness"] | </a>
                                <a style="padding-right:17px;" asp-action="Index" asp-route-sortOrder="@ViewBag.HighPrice">@localizer["Price : High to low"] | </a>
                                <a asp-action="Index" asp-route-sortOrder="@ViewBag.LowPrice">@localizer["Price : Low to high"]</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row shop_wrapper grid_3">
                    @foreach (var item in Model.MenuItem)
                    {

                        <div class="col-md-6 col-sm-6 col-lg-4 col-custom product-area">
                            <div class="single-product position-relative">
                                <div class="product-image">
                                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="d-block">
                                        <img src="@item.Image" alt="" class="product-image-1 w-100">
                                        <img src="@item.Image" alt="" class="product-image-2 position-absolute w-100">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-title">
                                        <h4 class="title-2"> <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price ">$@item.Price</span>

                                    </div>
                                </div>
                                <div class="add-action d-flex position-absolute">
                                    @using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
                                    {
                                        <input asp-for="ShoppingCart.Count" value="1" type="text" hidden />
                                        <button type="submit" value="Add To cart"><i class="ion-bag"></i></button>
                                        <input asp-for="ShoppingCart.MenuItemId" value="@item.Id" hidden />
                                    }
                                    @using (Html.BeginForm("Compare", "Home", FormMethod.Post))
                                    {

                                        <button type="submit" id="btnCompare" value="Compare">
                                            <i class="ion-ios-loop-strong"></i>
                                        </button>
                                        <input asp-for="Compare.MenuItemId" value="@item.Id" hidden />
                                    }

                                    @using (Html.BeginForm("WishList", "Home", FormMethod.Post))
                                    {
                                        <input asp-for="WishList.MenuItemId" value="@item.Id" hidden />
                                        <button type="submit" value="Add to Wishlist">
                                            <i class="ion-ios-heart-outline"></i>
                                        </button>
                                    }
                                    <button type="button" class="anchorDetail" data-toggle="modal" data-id="@item.Id" title="Quick View">
                                        <i class="ion-eye"></i>
                                    </button>
                                </div>
                                <div class="product-content-listview">
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="product-title">
                                        <h4 class="title-2"> <a href="product-details.html">@item.Name</a></h4>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price ">$@item.Price</span>

                                    </div>
                                    <div class="add-action-listview d-flex">
                                        @using (Html.BeginForm("AddToCart", "Home", FormMethod.Post))
                                        {
                                            <input asp-for="ShoppingCart.Count" value="1" type="text" hidden />
                                            <button type="submit" value="Add To cart"><i class="ion-bag"></i></button>
                                            <input asp-for="ShoppingCart.MenuItemId" value="@item.Id" hidden />
                                        }
                                        @using (Html.BeginForm("Compare", "Home", FormMethod.Post))
                                        {

                                            <button type="submit" id="btnCompare" value="Compare">
                                                <i class="ion-ios-loop-strong"></i>
                                            </button>
                                            <input asp-for="Compare.MenuItemId" value="@item.Id" hidden />
                                        }

                                        @using (Html.BeginForm("WishList", "Home", FormMethod.Post))
                                        {
                                            <input asp-for="WishList.MenuItemId" value="@item.Id" hidden />
                                            <button type="submit" value="Add to Wishlist">
                                                <i class="ion-ios-heart-outline"></i>
                                            </button>
                                        }
                                        <button type="button" class="anchorDetail" data-toggle="modal" data-id="@item.Id" title="Quick View">
                                            <i class="ion-eye"></i>
                                        </button>
                                    </div>
                                    <p class="desc-content">
                                        @item.Description
                                    </p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="col-lg-3 col-12 col-custom">
                <aside class="sidebar_widget widget-mt">
                    <div class="widget_inner">
                        <form role="search" method="get" action="@Url.Action("Index","Shop")">
                            <div class="widget-list widget-mb-1">
                                <h3 class="widget-title">@localizer["Search"]</h3>
                                <div class="search-box">
                                    <div class="input-group">

                                        <input type="search" class="form-control" placeholder="@localizer["Search Our Store"]" name="searchTerm">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="widget-list widget-mb-1">
                            <h3 class="widget-title">@localizer["Menu Categories"]</h3>
                            <nav>
                                <ul class="mobile-menu p-0 m-0">
                                    <li class="menu-item-has-children">
                                        <a href="@Url.Action("Index","Shop")">@localizer["All Categories"]</a>
                                    </li>
                                    @foreach (var category in Model.Category)
                                    {

                                        <li class="menu-item-has-children">
                                            <a href="@Url.Action("Index","Shop",new { categoryID = category.Id})" class="@(Model.CategoryId.HasValue && Model.CategoryId.Value==category.Id ? "active":string.Empty)">@category.Name</a>
                                        </li>
                                    }

                                </ul>
                            </nav>
                        </div>
                        <div class="widget-list widget-mb-4">
                            <h3 class="widget-title">@localizer["Featured Products"]</h3>
                            <div class="sidebar-body">
                                @foreach (var item in Model.MenuItemFeatured)
                                {
                                    <div class="sidebar-product align-items-center">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id" class="image">
                                            <img src="@item.Image" alt="product">
                                        </a>
                                        <div class="product-content">
                                            <div class="product-title">
                                                <h4 class="title-2"> <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
                                            </div>
                                            <div class="price-box">
                                                <span class="regular-price ">$@item.Price</span>
                                                
                                            </div>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                }                               
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<div class="modal fade obrien-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close">
                <span class="close-icon" aria-hidden="true">x</span>
            </button>
            <div class="modal-body" id="myModalContent">

            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script>
        var PostBackURL = '/Customer/Home/GetProductDetails';

        $(function () {
            $(".anchorDetail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: PostBackURL,
                    contentType: "text/html; charset=utf-8",
                    data: { "Id": id },
                    cache: false,
                    dataType: "html",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed");
                    }
                })
            });
        });
    </script>


}