@model OnlineFoodOrdering.Models.ViewModels.MenuItemViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using OnlineFoodOrdering.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MenuItem">@localizer["Menu Item Table"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Create Menu Item"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">@localizer["Create Menu Item"]</h3>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        <br />
                        <div class="card-body">
                            <div class="form-group">
                                <label>@localizer["Name"]</label>
                                <input asp-for="MenuItem.Name" class="form-control" placeholder="@localizer["Enter Menu Item Name"]">
                                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>@localizer["Description"]</label>
                                <textarea asp-for="MenuItem.Description" class="form-control" placeholder="@localizer["Enter Description"]" style="height:110px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label>@localizer["Price"]</label>
                                <input asp-for="MenuItem.Price" class="form-control" placeholder="@localizer["Enter Price"]">
                                <span asp-validation-for="MenuItem.Price" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label>@localizer["Category"]</label>
                                <select asp-for="@Model.MenuItem.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label>@localizer["SubCategory"]</label>
                                <select asp-for="@Model.MenuItem.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">@localizer["Image"]</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="files" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">@localizer["Choose file"]</label>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@localizer["Spyciness"]</label>
                                <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
                            </div>
                            
                            <div class="icheck-success d-inline">
                                <input type="checkbox" id="checkboxSuccess1" asp-for="MenuItem.isFeatured">
                                <label for="checkboxSuccess1">
                                    @localizer["Is Featured"]
                                </label>
                            </div>

                            <br />
                        </div>
                        <div class="card-footer">
                            <button type="submit" asp-route-category="@Model" class="btn btn-success">@localizer["Create New"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{ 

    <script>
        $(function () {
            bsCustomFileInput.init();
        });

         $(document).ready(function () {
                getSubCategory();
                $('#CategoryId').change(function () {
                    getSubCategory();
                });
            });


            function getSubCategory() {
                    var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
                    var ddlsource = '#CategoryId';
                    $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                        var items = '';
                        $('#SubCategoryId').empty();
                        $.each(data, function (i, subcategory) {
                            items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                        });
                        $('#SubCategoryId').html(items);
                    })
                }
    </script>

}



