@model OnlineFoodOrdering.Models.ViewModels.MenuItemViewModel
@using OnlineFoodOrdering.Extensions
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="myaccount-content">
    <h3>@localizer["Menu Item Details"]</h3>
    <br />
    <div class="account-details-form">
        <form method="post">

            <div class="row">

                <br />
                <div class="row">
                    <div class="col-lg-7 col-custom">
                        <div class="single-input-item mb-12">
                            <label for="last-name" class="required mb-1">@localizer["Name"]</label>
                            <input readonly asp-for="MenuItem.Name" />
                        </div>
                    </div>

                    <div class="col-lg-7 col-custom">
                        <br />
                        <div class="single-input-item mb-3">
                            <label for="last-name" class="required mb-1">@localizer["Price"]</label>
                            <input readonly asp-for="MenuItem.Price" />
                        </div>
                    </div>
                    <div class="input-item mb-6">

                        <img src="@Model.MenuItem.Image" width="280" style="float:right; margin-top:-150px;" />
                    </div>
                </div>

                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Description"]</label>
                    <textarea readonly asp-for="MenuItem.Description" cols="30" rows="5" class="border rounded-0 w-100 custom-textarea input-area" style="padding:10px;"></textarea>

                </div>

                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["SubCategory"]</label>
                    <input readonly asp-for="MenuItem.SubCategory.Name" />
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Category"]</label>
                    <input readonly asp-for="MenuItem.Category.Name" />
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Spiciness"]</label>
                    <select asp-for="MenuItem.Spicyness" disabled asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
                </div>
                <div class="custom-control custom-checkbox">
                    <input disabled type="checkbox" class="custom-control-input" asp-for="MenuItem.isFeatured">
                    <label class="custom-control-label">@localizer["Is Featured"]</label>
                </div>
            </div>

            <div class="single-input-item single-item-button">
                <br />
                <button type="submit" disabled asp-route-id="@Model.MenuItem.Id" class="btn obrien-button primary-btn" value="Save Changes">@localizer["Save Changes"]</button>
            </div>

        </form>
    </div>
</div>
