@model OnlineFoodOrdering.Models.ViewModels.MenuItemViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="MenuItem">@localizer["MenuItem Table"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Menu Item Details"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">@localizer["Menu Item Details"]</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <br />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>@localizer["Name"]</label>
                                        <input asp-for="MenuItem.Name" disabled class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>@localizer["Description"]</label>
                                        <textarea asp-for="MenuItem.Description" disabled class="form-control" style="height:110px;"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>@localizer["Price"]</label>
                                        <input asp-for="MenuItem.Price" class="form-control" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>@localizer["Category"]</label>
                                        <input asp-for="@Model.MenuItem.Category.Name" disabled class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>@localizer["SubCategory"]</label>
                                        <input asp-for="@Model.MenuItem.SubCategory.Name" disabled class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>@localizer["Spiciness"]</label>
                                        <select asp-for="MenuItem.Spicyness" disabled asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
                                    </div>
                                    <div class="icheck-success d-inline">
                                        <input type="checkbox" disabled id="checkboxSuccess1" asp-for="MenuItem.isFeatured">
                                        <label for="checkboxSuccess1">
                                            @localizer["Is Featured"]
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="col-md-5">
                                    <div class="form-group">
                                        
                                        <img src="@Model.MenuItem.Image" width="450" style="margin-top:33px;" />

                                    </div>
                                </div>
                            </div>                          
                        </div>
                        <!-- /.card-body -->


                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
