@model OnlineFoodOrdering.Models.ViewModels.MenuItemViewModel
@using OnlineFoodOrdering.Extensions
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="myaccount-content">
    <h3>@localizer["Menu Item Update"]</h3>
    <br />
    <div class="account-details-form">
        <form method="post" enctype="multipart/form-data">

            <div class="row">

                <br />
                <div class="row">
                    <div class="col-lg-7 col-custom">
                        <input type="hidden" asp-for="MenuItem.Id" />
                        <div class="single-input-item mb-12">
                            <label for="last-name" class="required mb-1">@localizer["Name"]</label>
                            <input asp-for="MenuItem.Name" />
                        </div>
                    </div>

                    <div class="col-lg-7 col-custom">
                        <br />
                        <div class="single-input-item mb-3">
                            <label for="last-name" class="required mb-1">@localizer["Price"]</label>
                            <input asp-for="MenuItem.Price" />
                        </div>
                    </div>
                    <div class="input-item mb-6">

                        <img src="@Model.MenuItem.Image" width="280" style="float:right; margin-top:-170px;" />
                    </div>
                </div>


                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Description"]</label>
                    <textarea asp-for="MenuItem.Description" cols="30" rows="5" class="border rounded-0 w-100 custom-textarea input-area" style="padding:10px;"></textarea>

                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Image"]</label>
                    <input type="file" name="files" multiple class="form-control" />
                </div>
                <div class="single-input-item mb-3">
                    <label asp-for="MenuItem.CategoryId" class="required mb-1"></label>
                    <select asp-for="@Model.MenuItem.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectListItem(Model.MenuItem.CategoryId)" class="form-control"></select>
                </div>
                <div class="single-input-item mb-3">
                    <label asp-for="MenuItem.SubCategoryId" class="required mb-1"></label>
                    <select asp-for="@Model.MenuItem.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="Model.SubCategory.ToSelectListItem(Model.MenuItem.SubCategory.Id)" class="form-control"></select>
                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Spiciness"]</label>
                    <select asp-for="MenuItem.Spicyness" asp-items="Html.GetEnumSelectList<MenuItem.ESpicy>()" class="form-control"></select>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="MenuItem.isFeatured">
                    <label class="custom-control-label">@localizer["Is Featured"]</label>
                </div>

            </div>

            <div class="single-input-item single-item-button">
                <br />
                <button type="submit" asp-route-id="@Model.MenuItem.Id" class="btn obrien-button primary-btn" value="Save Changes">@localizer["Save Changes"]</button>
            </div>

        </form>
    </div>
</div>
<script type="text/javascript">
            $(document).ready(function () {
                getSubCategory();
                $('#CategoryId').change(function () {
                    getSubCategory();

                });

            });


            function getSubCategory() {
                    var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
                    var ddlsource = '#CategoryId';
                    $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                        var items = '';
                        $('#SubCategoryId').empty();
                        $.each(data, function (i, subcategory) {
                            items += "<option value='" + subcategory.value + "' " + (subcategory.value == @Model.MenuItem.SubCategoryId ? "selected" : "") + ">" + subcategory.text + "</option>";
                        });
                        $('#SubCategoryId').html(items);
                    })
                }
</script>

