@model OnlineFoodOrdering.Models.ViewModels.SubCategoryAndCategoryViewModel
@using OnlineFoodOrdering.Extensions
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="SubCategory">@localizer["SubCategory Table"]</a></li>
                    <li class="breadcrumb-item active">@localizer["Create SubCategory"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">@localizer["Create SubCategory"]</h3>
                    </div>
                    @if (!String.IsNullOrEmpty(Model.StatusMessage))
                    {
                        var statusMessageClass = Model.StatusMessage.StartsWith("Error") ? "danger" : "success";
                        <div class="alert alert-@statusMessageClass alert-default-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" /></button>
                            @Model.StatusMessage
                        </div>
                    }
                    <form asp-action="Create">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="SubCategory.CategoryId"></label>
                                <select id="ddlCategoryList" asp-for="SubCategory.CategoryId" asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)" class="form-control"><option>@localizer["Please Select One"]</option></select>

                            </div>
                            <div class="form-group">
                                <label>@localizer["Name"]</label>
                                <input asp-for="@Model.SubCategory.Name" class="form-control">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">@localizer["Create"]</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">@localizer["Existing Subcategories"]</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        @if (Model.SubCategoryList.Count() > 0)
                        {
                            <p>@localizer["Existing Subcategories"]: </p>

                            <div id="SubCategoryList">
                                <ul class="list-group">
                                </ul>
                            </div>
                        }
                    </div>

                </div>

                <!-- /.card -->
            </div>
        </div>
    </div>
</section>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function updateSubCategoryList() {
            var categorySelected = document.getElementById("ddlCategoryList").value;

            $list = $('#SubCategoryList');

            $.ajax({
                url: '/Admin/SubCategory/GetSubCategory/' + categorySelected,
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    results = JSON.parse(data);
                    $list.html('');
                    $list.append(' <ul class="list-group"> ');
                    for (i in results) {
                        $list.append('<li class="list-group-item">' + results[i].text + '</li>');
                    }
                    $list.append('</ul>');
                }
            });
        }

        $(document).ready(function () {
            updateSubCategoryList();
        });

        $("#ddlCategoryList").on("change", function () {
            updateSubCategoryList();
        });

    </script>
}
