@model OnlineFoodOrdering.Models.ViewModels.SubCategoryAndCategoryViewModel
@using OnlineFoodOrdering.Extensions
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="myaccount-content">
    <h3>@localizer["Are you sure you want to delete this?"]</h3>
    <br />
    <div class="account-details-form">
        <form method="post">
            <div class="row">

                <br />

                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["SubCategory Name"]</label>
                    <input readonly asp-for="SubCategory.Name" />
                </div>

                <div class="single-input-item mb-3">
                    <label for="first-name" asp-for="SubCategory.Category.Name" class="required mb-1">@localizer["Category Name"]</label>
                    <input readonly asp-for="SubCategory.Category.Name" />
                </div>

            </div>
            <br />

            <div class="single-input-item single-item-button">
                <button type="submit" asp-route-id="@Model.SubCategory.Id" class="btn obrien-button primary-btn">@localizer["Delete"]</button>
            </div>

        </form>

    </div>
</div>