@model OnlineFoodOrdering.Models.ViewModels.SubCategoryAndCategoryViewModel
@using OnlineFoodOrdering.Extensions
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="myaccount-content">
    <h3>@localizer["Update SubCategory"]</h3>
    <br />
    <div class="account-details-form">
        <form method="post">

            <div class="row">
                <br />
                <div class="single-input-item mb-3">
                    <label for="first-name" asp-for="SubCategory.CategoryId" class="required mb-1"></label>
                    <select id="ddlCategoryList" asp-for="SubCategory.CategoryId" asp-items="Model.CategoryList.ToSelectListItem(Model.SubCategory.CategoryId)"><option>@localizer["Please Select One"]</option></select>

                </div>
                <div class="single-input-item mb-3">
                    <label for="first-name" class="required mb-1">@localizer["Name"]</label>
                    <input id="input1" asp-for="SubCategory.Name" />
                </div>
            </div>
            <br />

            <div class="single-input-item single-item-button">
                <button id="butoni" type="submit" asp-route-id="@Model.SubCategory.Id" class="btn obrien-button primary-btn" value="Save Changes">@localizer["Save Changes"]</button>
            </div>

        </form>
    </div>
</div>



